<div class="hidden-xs hidden-sm col-md-2">
</div>

<div class="col-xs-12 col-sm-12 col-md-10  container-fluid">
    <div class="jumbotron">
        <div class="page-header">
            <h2>{{vm.book.Title}}</h2>
            <h2><small>{{vm.book.SubTitle}}</small></h2>
        </div>
        <table class="table table-condensed">
            <tr>
                <td>
                    <p><strong>Author: </strong> {{vm.book.Author}}</p>
                    <p><strong>Publisher: </strong>{{vm.book.Publisher}}</p>
                    <p><strong>Year: </strong>{{vm.book.Year}}</p>
                    <p><strong>Page: </strong>{{vm.book.Page}}</p>
                    <a class="btn btn-success" ng-href="{{vm.book.Download}}" role="button">Download</a>
                </td>

                <td>
                    <div class="pull-right">
                        <img ng-src="{{vm.book.Image}}" class="img-fluid" alt="Responsive image">
                    </div>
                </td>
            </tr>
        </table>
        <hr>
        <div>
            <p class="text-justify">{{vm.book.Description}}</p>
        </div>


    </div>