<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#search" class="btn btn-success"> Search <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->


    </nav>
</div>


<hr>

<div class="row">
    <div class="col-md-9  container-fluid">
        <component.books books="vm.books" pages="vm.pages"></component.books>
    </div>

    <div class="hidden-xs hidden-sm col-md-3">

    </div>

</div>

        <div id="search">
            <button type="button" class="close">×</button>
            <div>
                <form ng-submit="vm.search()">
                    <input type="search" value="" ng-model="vm.pages.query" placeholder="type here" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

<script src="js/search.js"></script>