<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search">Search</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->


    </nav>
</div>


<hr>

<div class="row">
    <div class="col-md-9  container-fluid">
        <component.books books="vm.books" pages="vm.pages"></component.books>
    </div>

    <div class="hidden-xs hidden-sm col-md-3">

    </div>
</div>
<script src="js/search.js"></script>